* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

#logo {
  cursor: pointer;
  margin-top: 2em;
  width: 10%;
  align-content: center;
  margin-bottom: 3em;
}

.Front-End {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#Frontend {
  width: 80%;
  margin: auto;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 10px #09f9c9;
  color: #1c2487;
  text-align: center;
  font-size: medium;
}

.firstdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.h_line {
  width: 3px;
  height: 50px;
  background-image: linear-gradient(
    90deg,
    rgb(203, 204, 207) 0%,
    rgb(203, 204, 207) 10%,
    rgb(203, 204, 207) 10%
  );
  margin: auto;
}

.h_line:hover {
  background-position: 100% 0;
  transition: background-position 0.5s ease;
  outline: none;
}

.V_one,
.V_two {
  width: 60.2%;
  height: 2px;
  background-image: linear-gradient(
    90deg,
    rgb(203, 204, 207) 20%,
    rgb(203, 204, 207) 20%,
    rgb(203, 204, 207) 20%
  );
  align-self: center;
}

.tpdiv {
  display: flex;
  justify-content: center;
  width: 20%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  z-index: 1;
  min-width: 160px;
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  background-size: 200%;
  color: rgb(255, 255, 255);
  background-color: #007bff;
  padding: 0px 20px;
  border-radius: 5px;
  transition: background-position 0.5s ease;
}

button:hover {
  background-position: 100% 0;
  text-decoration: none;
  outline: none;
  /* background-color: #5c8bbd; */
  background-color: #0056b3;
}

.secdiv,
.thrdiv {
  padding: 0 5px;
  display: flex;
  width: 50%;
  justify-content: center;
  height: auto;
  margin-bottom: 6em;
}

.Developers {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.MainDiv {
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  height: auto;
  width: 95%;
}

.sheraz {
  margin-top: 2em;
  position: relative;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  z-index: 5;
  /* filter: blur(3px); */
  transition: 0.5s ease-in-out;
}

.Saleem:hover {
  filter: blur(0px);
  transition: 0.5s ease-in-out;
  transform: scale(1.3);
  z-index: 6;
}

.Saleem {
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  filter: blur(3px);
  transition: 0.5s ease-in-out;
  z-index: 5;
}

.info {
  position: absolute;
  background-color: rgba(88, 112, 250, 0.14);
  width: 20%;
  border-radius: 0 0 10px 10px;
  padding: 6px 0px 1px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.info:hover {
  box-shadow: 1px 0 1px #ac50ef, -1px 0 1px #2ecff6;
}
.img {
  display: flex;
  background: linear-gradient(45deg, #ac50ef, #7059fb 50%, #2ecff6);
  width: 80%;
  margin: auto;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 10px 10px 0 0;
  border-radius: 27px;
  /* position: relative; */
}

.img:hover {
  box-shadow: 1px 1px 5px #ac50ef, -1px -1px 5px #2ecff6;
}
/* .intns img {
  width: 50%;
}
.FDev {
  width: 70%;
} */
.BDev {
  width: 50%;
  /* margin-top: 2em; */
  /* margin-top: 1em; */
  margin-left: 9em;
}
#BackDevInfo {
  margin-left: 1em;
  margin-top: 0.2em;
  width: 18%;
}
/* .intns {
    width: 80%;
  } */

#intnsInfo {
  margin-top: 0.3em;
  width: 15%;
}
.FDev {
  width: 70%;
  margin-left: 3em;
}
